
* {
    font-family: segoe ui;
    color: #fff;
    margin: 0;
    overflow-x: hidden;
}

li{
    font-size: 140%;
}
body {
    height: 100%;
    background-color: #3D5265;
}


.content {
    width: 80%;
    margin: 1% 10%;

}

.content1 {
    width: 100%;
    margin: 1% 0;

}
.oops{
    width:5%;
    heigh:5%;
    margin: 5% 47.5% 0 47.5%;
}

a:link {
    text-decoration: none;
}

.featured_rightpart {
    text-align: center;
    overflow: hidden;
}

header {
    z-index: 1;
    height: 50px;
    width: 100%;
    margin-top: 0;
    background-color: #BC4333;
    overflow: hidden;
}

.featured_rightpart {
    line-height: 50px;
    text-decoration: none;
}

.featured_rightpart h2 {
    vertical-align: middle;
    margin: 0 0 0 10px;
    /* need this to clear the default margin*/
    margin-bottom: 0px;
}

form {
    color: #405365;
    margin: 5% 5% 5% 5%;
}

.leftTextArea {
    float: left;
    width: 30%;
    margin-top: 2%;
    color: #405365;
    font-size: 16px;
}

.rightTextArea {
    float: right;
    width: 30%;
    margin: 2% 0;
    color: #405365;
    font-size: 16px;
}

.encryptDecryptButton {
    color: #fff;
    background-color: #BB4536;
    width: auto;
    font-size: 1vw;
    font-weight: bold;
    border: 1px solid;
    border-color: #BB4536;
    margin: 2% 5% 0 5%;
    text-align: center;
    padding: 5px;

}

.shift {
    float: right;
    width: 5%;
    margin: 0 70% 0 0;
    color: #405365;
    font-size: 16px;
}

.inputTxt {
    margin: 0;
    width: 100%;
    float: left;
    color: black;
}

.move {
    margin: 1% 80% 2% 0;
    width: 10%;
    color: black;
}

.submitButton {
    color: #fff;
    background-color: #BB4536;
    width: 30%;
    font-size: 1vw;
    font-weight: bold;
    border: 1px solid;
    border-color: #BB4536;

    text-align: center;
    padding: 5px;


}

.outputTextContainer {
    margin: 1% 0;
    width: 100%;
    height: 20%;

}

.submitTextContainer {
    margin: 3% 0 0 0;

}

.outputTextContainer h3 {
    color: #405365;

}

.caesarcipher{
    margin: 5% 30% 2% 30%;
}

.bg-custom {
    background-color: #BB4536;
    border-color: #BB4536;
    border-radius: 0;

}

.stuff{
    width:100%;
}

@media only screen and (max-width: 830px) {
    .leftTextArea {
        float: left;
        width: 100%;
        color: #405365;
        font-size: 16px;
        margin: 1% 0;
    }

    .rightTextArea {
        float: left;
        width: 100%;
        color: #405365;
        font-size: 16px;
        margin: 1% 0;
    }

    .encryptDecryptButton {
        color: #fff;
        background-color: #BB4536;
        width: 80%;
        font-size: 3vw;
        font-weight: bold;
        border: 1px solid;
        border-color: #BB4536;
        margin: 1% 10%;
        text-align: center;
        padding: 5px;

    }
    .shift{
        float:left;
        margin: 0 3%;
    }
}

@media only screen and (max-width: 1000px) {

    .caesarcipher{
        margin: 5% 10% 2% 10%;
    }

    .submitButton {

    width: 50%;
    font-size: 2vw;
    padding: 5px;


}
}

@media only screen and (max-width: 450px) {

    .caesarcipher{
        margin: 5% 2% 2% 2%;
    }
    .shift {

    width: 6%;
    margin: 0 60% 5% 0;

}
    .submitButton {

    width: 100%;
    font-size: 8vw;
    padding: 5px;

    .encryptDecryptButton {


        width: 100%;
        font-size: 5vw;



        margin: 1% 0;

        padding: 5px;

    }

    .content {
    width: 94%;
    margin: 1% 3%;
}
}