{% extends "header.html" %}

{% block body %}
    <body>
    <div class="content">
        <h1 style="text-align: center;">--Caesar Cipher--</h1>

        <form action="" class="caesarcipher" method="post">
            <select style="color:black;" name="options" method="GET" action="/">
                <option style="color:black;"value="encrypt" selected>encrypt</option>

                <option style="color:black;" value="decrypt">decrypt</option>

            </select>
            <br>
            <h3 style="margin-top:2%;">Shift amount:</h3>
            <input type="number" class=move name="shift" value="{{ request.form.shift }}">
            <br>
            <h3>Text:</h3>
            <input type="text" class=inputTxt placeholder="Text" name="txt"
                   value="{{ request.form.txt }}">
            <br>
            <div class =submitTextContainer>
                <input type="submit" class="submitButton" name="submit" value="SUBMIT"></div>
            <br>
            <div class =outputTextContainer>
                <textarea style="resize: none; overflow:hidden;color: #405365; min-height:100%;min-width:37.5%;height:100%;width:100%;">Output text: {{ output }}</textarea>
            </div>
        </form>


    </div>
    </body>

{% endblock %}