{% extends "header.html" %}

{% block body %}
<body>
<div class="content">
    <h1>Caesar Cipher!!!</h1>

    <form action ="" class="caesarcipher" method="post">
        <input type="number" class=shift name = "shift" value = "{{request.form.shift}}">
        <input type="text" class=leftTextArea placeholder="Decrypted text" name = "unEncryptedTxt" value = "{{request.form.unEncryptedTxt}}">
        <input type="submit" class="encryptDecryptButton" name="submit" value="ENCRYPT / DECRYPT">
        <input type="text" class=rightTextArea placeholder="Encrypted text" name = "encryptedTxt" value = "{{request.form.encryptedTxt}}">
    </form>
    <h3>encrypted text: {{ output1 }}</h3>
    <br>
    <h3>decrypted text: {{ output2 }}</h3>


</div>
</body>

{% endblock %}